@font-face{
    font-family: "Quantico-Regular";
    font-weight: bold;
    src: url('fonts/Quantico-Regular.otf') format('opentype');
  }
  @font-face{
    font-family: "Quantico-Bold";
    src: url('fonts/Quantico-Bold.otf') format('opentype');
  }
  @font-face{
    font-family: "Quantico-BoldItalic";
    src: url('fonts/Quantico-BoldItalic.otf') format('opentype');
  }
