
body {
  margin: 0;
  padding: 0;
  background-color: rgb(248, 229, 61);
}

#links-uteis {
  display: flex;
  background-color: rgb(37 , 37, 37);
  height: 25px;
  width: 100%;
  justify-content: space-between;
}

.links {
  display: flex;
  padding: 2px 10px;
  width: 250px;
  justify-content: space-around;
}

.links a {
  color: #fff;
  text-decoration: none;
  font-family: Quantico-BoldItalic;
  
}

.links a:hover{
  color: rgb(248, 229, 61);
}

.social {
  display: flex;
  padding: 2px 10px;
  width: 250px;
  justify-content: space-around;
}

.social a {
  color: #fff;
  text-decoration: none;
  font-family: 'Quantico-BoldItalic';
}

.social a:hover{
  color: rgb(248, 229, 61);
}

/* fim do header inicial */

#banner {
  display: flex;
  height: 300px;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.banner-text {
  width: 500px;
  padding: 100px;
}

.banner-text h1 {
  font-size: 35px;
  font-family: Quantico-Bold;
}

/* fim do banner inicial */

#main-items-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 300px;
  width: 100%;
  background-color: #000;
}
#main-items-menu h1 {
  color: #fff;
  font-size: 70px;
  margin: 0;
  font-family: Quantico-Regular;
}


.items {
  display: flex;
}

.items a {
  text-decoration: none;
  color: #fff;
  padding: 14px;
  font-family: Quantico-Regular;
}

.items a:hover{
  text-decoration: underline;
}
/* fim do menu*/

.menu-principal-brands {
  display: flex;
  padding-top: 20px;
  flex-direction: column;
  align-items: center;
}

.brands-title {
  margin-top: 50px;
  display: flex;
  background-color: #000;
  width: 30vw;
  justify-content: center;
}

.brands-title h1 {
  color: #fff;
  text-align: center;
  font-family: Quantico-Regular;
}

.brands-menu {
  border: 1px solid #000;
  width: 80vw;
  height: 50px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.brands-menu a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
  font-size: 19px;
  font-family: Quantico-Regular;
}

.brands-menu a:hover{
  text-decoration: underline;
}


/* fim do menu marcas */

.discount-section {
  display: flex;
  margin-top: 100px;
  background-color: #fff;
  height: 285px;
  justify-content: space-between;  
  flex-wrap: wrap;
}

.discount-section img {
  width: 500px;
}

.text-discount {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 600px;
  margin-right: 10em;
  align-items: center;
}

.discount-section p {
  display: flex;
  flex-flow: column;
  align-items: center;
  font-size: 30px;
  font-family: Quantico-Regular;
  padding: 0;
  margin: 0;
}

.uppercase-number {
  font-size: 100px;
  margin: 0;
  padding: 0;
}

.desconto {
  font-size: 33px;
}

.background-button {
  background-color: rgb(31, 30, 30);
  color: rgb(248, 229, 61);
  font-size: 18px;
  width: 250px;
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
}

.white{
  color: #fff;
}

/* fim do banner de desconto */

.social-medias{
  height: 200px;
  display: flex;
  justify-content: center;
}
.promo{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 150px;
}

.social-text{
  display: flex;
  flex-direction: column; 
  width: 430px;
  height: 100px;
}

.social-text h1{
  margin: 0;
  padding: 0;
  font-size: 40px;
  font-family: Quantico-Bold;
}

.social-text p{
  font-family: Quantico-Bold;
  padding: 0;
  font-size: 20px;
}

.social-buttons{
  display: flex;
}

.social-buttons a{
  padding: 10px;
  font-family: Quantico-Bold;
  margin: 7px;
  text-decoration: none;
  border-radius: 3px;
}

.green{
  background-color: #39b54a;
  padding: 2px;
  color: #000;
  font-weight: bold;
}

#sizing{
  display: flex;
  width: 100%;
  justify-content: center;
  border: none;
}

.products-menu{
  display: flex;
  flex-wrap: wrap;
  width: 670px;
  margin-top: 50px;
  justify-content: center;
}

.product-box{
  width: 200px;
  border: none;
  height: 300px;
  display: flex;
  width: 200px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-end;
  flex-direction: row;
  margin-right: 10px;
  margin-bottom:10px; 
  background-color: #fff;
  border-radius: 3px;
  
}

.product-box:hover{
  width: 196px;
  height: 296px;
}

.product-box h1{
  text-align: center;
  font-family: Quantico-Regular;
  font-size: 18px;
}

.product-button{
  display: flex;
  width: 100%;
  height: 30px;
  background-color: #39b54a;
  justify-content: center;
  border-radius: 3px;
  align-items: center;
  color: #fff;
  cursor: pointer;
}

.text-button {
  font-family: Quantico-Regular;
}

.product-box:hover{
  border: 3px solid #39b54a;
  border-radius: 3px;
  transition: linear 0.1s ;
}

footer{
  background-color: rgb(37, 37, 37);
  height: 25px;
  width: 100%;
}

/*tratamento de imagens*/

.mega-man{
  position: absolute;
  transform: translateX(615%) translateY(-90%);
}

.chun-li{
  position: absolute;
  transform: translateX(372%) translateY(-5%);
}

.pac-man{
  position: absolute;
  transform:translateY(155%) translateX(60%);
}

.ryu{
  position: absolute;
  transform: translateX(50%) translateY(-18%);
  height: 450px;
}

/* inicio da responsividade */

@media(max-width:1300px){
  .ryu{
    transform: translateX(5%)translateY(-18%);
    height: 350px;
  }
  .chun-li{
    transform: translateX(262%) translateY(-5%);
  }
  .mega-man{
    display: none;
  }
  .pac-man{
    transform:translateX(15%) translateY(200%);
    height: 300px;
  }
  
  .discount-section {
    height: 261px;
  }
  .text-discount{
    justify-content: center;
    align-items: center;
    width: 350px;
  }
  
  .text-discount p{
    font-size:25px; 
  }
  
  .background-button{
    height: 20px;
    margin-bottom:2px; 
  }
  
  .product-box{
    width: 180px;
  }
  
  .product-box:hover{
    width: 176px;
  }
}

@media(max-width:1030px){
  .chun-li{
    display: none;
  }
  .ryu{
    display: none;
  }
  .pac-man{
    display: none;
  }
  .discount-section img{
    display: none;
  }
  .discount-section img{
    display: none;
  }
  .discount-section{
    background-color: #000;
    justify-content:center;
    padding-left: 170px;
  }
  .discount-section p{
    color: #fff;
  }
}

@media(max-width:700px){
  .links a{
    font-size: 15px;
  }
  .social a{
    font-size: 15px;
  }
  .banner-text {
    display: flex;
    /* width: 200px; */
    margin:0 ;
  }
  .banner-image{
    /* margin-left: 150px; */
    transform: translateX(20px);
  }
  .banner-text h1{
    font-size: 30px;
  }
  
  /* fim do responsivo banner principal */
  #main-items-menu {
    height: 150px;
    margin-top: 10px;
  }
  #main-items-menu h1{
    font-size: 40px;
  }
  
  /* fim do responsivo menu principal */
  
  .brands-title {
    margin-top: 50px;
    display: flex;
    background-color: #000;
    width: 250px;
    height: 50px;
    justify-content: center;
    align-items: center;
  }
  .brands-title h1{
    font-size: 20px;
  }
  
  /* fim da responsividade do menu marcas */
  
  .discount-section img{
    display: none;
  }
  .discount-section{
    background-color: #000;
    justify-content:center;
    padding-left: 170px;
  }
  .discount-section p{
    color: #fff;
  }
  
  /* fim da responsividade do banner de desconto */
  
  .promo{
    justify-content: center;
    align-items: center;
    padding: 0;
  }
  
  .social-text{
    align-items: center;
  }
  
  /* fim da responsividade da promoçao */
  
  .product-box{
    height: 100px;
  }
  .product-box:hover{
    height: 100px;
  }
   .product-box :nth-child(1)  {
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
    padding: 0;
    margin: 0;
    flex-wrap: wrap;
  } 

  .product-button:nth-child(1){
    transform: translateX(-50px);
    flex-wrap: wrap;
  }
  .product-box img{
    height: 60px;
    width: 50px;
  }

  .ryu{
    display: none;
  }
  .pac-man{
    display: none;
  }
  .chun-li{
    display: none;
  }
  
}
@media(max-width:470px){
  .social{
    display: none;
  }
  .links a{
    font-size: 14px;
  }
  #links-uteis{
    justify-content: center;
  }
  .links{
    width: 100%;
    justify-content: space-between;
  }
  .banner-text{
    display: none;
  }
  #main-items-menu{
    width: 100%;
    height: 100px;
  }
  #main-items-menu h1{
   font-size: 22px;
  }
   .items a{
    font-size: 15px;
    padding: 5px;
  }
  .items{
    width: 100%;
    justify-content: center;
  }
  
  .brands-title{
    width: 150px;
    padding: 4px;
  }
  .brands-menu{
    width: 100vw;
  }
  .brands-menu a{
    font-size: 15px;
    margin: 0;
  }
  .social-buttons{
    width: 100px;
    justify-content: center;
  }
  
  
}

/* importação das fontes */

@font-face{
  font-family: "Quantico-Bold";
  font-weight: bold;
  src: url('fonts.css/Quantico-Bold.otf') format('opentype');
}
@font-face{
  font-family: "Quantico-Regular";
  src: url('fonts.css/Quantico-Regular.otf') format('opentype');
}
@font-face{
  font-family: "Quantico-BoldItalic";
  src: url('fonts.css/Quantico-BoldItalic.otf') format('opentype');
}

